site_name: OpenCV Ruby
site_url: https://github.com/cfis/opencv-ruby
site_description: Modern Ruby bindings for OpenCV 4.x
repo_url: https://github.com/cfis/opencv-ruby
repo_name: cfis/opencv-ruby

docs_dir: docs

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.integrate
  palette:
    - scheme: default
      primary: blue
      accent: blue

validation:
  links:
    absolute_links: relative_to_docs
    anchors: warn
    unrecognized_links: warn

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - tables
  - fenced_code
  - codehilite
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cfis/opencv-ruby
